* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 100px auto;
  text-align: center;
}

.button {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  color: #f7f7f7;
  cursor: pointer;
}

.button-green {
  background: green;
}

.button-red {
  background-color: red;
}

.button-blue {
  background-color: blue;
}

.img-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.img-container img {
  display: none;
}

.img-container .show-img {
  display: block;
}
